@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'itim', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #061744;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: rgb(235, 235, 235);
    width: 80%;
    margin: auto;
    box-shadow: 4px 8px 8px rgba(100, 100, 100, 0.3);
    padding: 1.5rem 3rem;
}
.cover{
    position: relative;
}
.cover h1{
    font-size: 3rem;
    text-align: center;
    margin: 15px 0;
}
.cover p{
    font-size: 22px;
    margin: 25px 0 10px;
}
hr{
    margin: 1rem 0;
}
audio{
    position: absolute;
    right: 1rem;
    bottom: 0;
    width: 250px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 1.2rem 0;
}
.content p {
    font-size: 20px;
}
.title-group li{
    margin-bottom: 10px;
}
.title-group li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    transition: all .3s ease-in;
}
.title-group li a:hover{
    color: orangered;
    text-decoration: underline;
}
.audio{
    margin: auto;
}
/*coupon*/
.bg{
    background-color: bisque;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(100, 100, 100, 0.3);
}
.bg1-con{
    margin: 30px auto;
    width: 350px;
}
.bg1-con h3 {
    color: black;
    text-align: center;
    margin: 10px;
}
.bg1-con input[type="text"]{
    border: 1px solid black;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.btn-bg1{
    width: 100%;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 16px;
}
.showBg1{
    display: flex;
}

/*dark-mode*/
.time{
    font-size: 60px;
    margin-bottom: 30px;
}
.toggle{
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
}
.bg.mode.dark{
    background: #12031b;
    color: #fff;
}
.bg.mode.dark .toggle{
    background-color: white;
    color: black;
}
.mode{
    transition: all .5s ease-in;
}

/*charactor*/
.bg3-con{
    width: 40rem;
    border: 1px solid gray;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    background: white;
}
.count{
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
}
.bg3-con input[type='text']{
    display: block;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 10px;
    outline: none;
    font-size: 1rem;
}

/*increment*/
.bg.follows{
    display: flex;
    flex-direction: row;
    position: relative;
}
.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px ;
}
.counter{
    font-size: 40px;
    margin-top: 10px;
}
.btn4-group{
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.btn4{
    padding: 10px 15px;
    border: 0;
    font-size: 1.2rem;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}
#btn4-reset{
    background-color: red;
}

/*modal*/
.bg.bgmodal{
    position: relative;
}
.open-btn{
    padding: 10px;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.modal-container{
    background-color: rgba(29, 29, 29,0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* ไม่สามารถโต้ตอบได้*/
    opacity: 0;
    transition: all .2s ease-in-out;
}
.modal{
    background-color: white;
    text-align: center;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.25);
    width: 500px;
}
.close-btn{
    margin: 10px;
    padding: 10px 20px;
}
.show{
    opacity: 1;
    pointer-events: auto;
}

/*login*/
.form-control{
    position: relative;
    margin: 20px 0;
    width: 300px;
}
.form-control input{
    border: 0;
    border-bottom: 1px solid blueviolet;
    outline: none;
    display: block;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: transparent;
}
.form-control label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: gray;
}
.btn6{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-weight: 500;
    border-radius: 10px;
}
.fa-eye,
.fa-eye-slash{
    position: absolute;
    right: 1.2rem;
    top: 2rem;
    cursor: pointer;
}

/*imgPopup*/
.gellery{
    display: grid;
   grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 10px;
}
.img-container img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 30px;
}
.img-container img:hover{
    transform: scale(0.98);
    transform: rotate(10deg);
}
.modalImg{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all .5s ease-in;
    opacity: 0;
}
.full-image{
    position: absolute;
    height: 85%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.open{
    opacity: 1;
    pointer-events: all;
}


/*searchAnimation*/
.search{
    position: relative;
    height: 50px;
}
.search .input {
    background-color: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width .5s ease-in;
}
.btn8{
    background-color: blueviolet;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform .5s ease-in;
}
.btn8:focus,
.input:focus{
    outline: none;
}
.search.active .input{
    width: 250px;
}
.search.active .btn8{
    transform: translateX(198px);
    background-color: orangered;
}

/*searchFilter*/
.bg9-con{
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 350px;
}
.title{
    margin: 0;
}
.subtitle{
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}
.header{
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 30px 20px;
}
.header input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
}
.country-list{
    background-color: white;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
}
.country-list li{
    display: flex;
    padding: 20px;
}
.country-list img{
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.country-list .info{
    margin-left: 10px;
}
.country-list .info h4{
    margin: 0 0 10px;
}
.country-list .info p{
    font-size: 12px;
}
.country-list li:not(:last-of-type){
    border-bottom: 1px solid #c4c2c2ee;
}
.country-list li.hide{
    display: none;
}

/*watchCount*/
.box{
    width: 45rem;
    text-align: center;
}
.box .countTime{
    width: 100%;
    font-size: 4rem;
    background-color: gray;
    padding: 4rem 5px;
    border-radius: 10px;
    color: white;
    margin-bottom: 3rem;
}
.buttons-grop button{
    padding: 5px 1rem;
    border: 0;
    outline: none;
    margin: 5px 5px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
.start{
    background-color: green;
}
.pause{
    background-color: orangered;
}
.reset{
    background-color: red;
}

/*TempCal*/
.appTemp h1{
    font-size: 2rem;
    color: orangered;
    margin-top: 1.2rem;
}
.bg11-con{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bg11-con label{
    font-size: 20px;
    margin-bottom: 10px;
}
.bg11-con input{
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: 1px solid gray;
    background: none;
    font-size: 20px;
    margin-bottom: 10px;
}

/*bmiCal*/
.bg12-con{
    width: 30rem;
    max-width: 800px;
    background-color: cadetblue;
    border-radius: 10px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.4);
    padding: 1rem;
}
.bg12-con h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
}
form{
    padding: rem 0;
    font-size: 1.3rem;
}
form >*{
    padding-bottom: 1.2rem;
}
.form-group input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-top: 15px;
    outline: none;
    border: 0;
}
.btn12{
    background-color: blueviolet;
    border: 0;
    cursor: pointer;
    color: white;
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}
.result12{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.7rem;
}